/* Write your CSS code here */
.wave-logo {
  width: 20px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.wave-text {
  font-size: 14px;
  margin-left: 5px;
  color: #12022f;
}
.nav-options {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #12022f;
}
