* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */

.bg-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  border: 2px solid;
  min-height: 100vh;
}
.content-container {
  padding: 20px;
  width: 80%;
  border: 3px solid #6d396b;
  border-radius: 8px;
}
